parameters:
    level: 7
    ignoreErrors:
    	-
    		message: '#Method App\\Components\\DataGridComponent\\DataGridControl::addFilterText\(\) has parameter \$columns with no value type specified in iterable type array.#'
    		path: src/Components/DataGridComponent/DataGridControl.php
    		count: 1
    	-
    		message: '#Method App\\Components\\DataGridComponent\\DataGridControl::addFilterSelect\(\) has parameter \$options with no value type specified in iterable type array.#'
    		path: src/Components/DataGridComponent/DataGridControl.php
    		count: 1
    	-
    		message: '#Method App\\Components\\DataGridComponent\\DataGridControl::addFilterMultiSelect\(\) has parameter \$options with no value type specified in iterable type array.#'
    		path: src/Components/DataGridComponent/DataGridControl.php
    		count: 1
    	-
    		message: '#Parameter \#1 \$entityName of method App\\Database\\EntityManager\:\:getRepository\(\) expects class-string\<T\>, string given.#'
    		path: src/Savers/DocumentSaver.php
    		count: 1
    	-
    		message: '#Method App\\Monolog\\Handler\\DiscordTracyHandler\:\:write\(\) has parameter \$record with no value type specified in iterable type array.#'
    		path: src/Monolog/Handler/DiscordTracyHandler.php
    		count: 1
    excludePaths:
    	analyseAndScan:
    		- src/Utils/Validator/IpUtils.php
    		- src/DI/DbalExtension.php
    paths:
    	- src
    	- public
    fileExtensions:
    	- php
