parameters:
    level: 7
    ignoreErrors:
    	-
    		message: '#Constructor of class App\\Security\\SecretVault\\PlainSecretVault has an unused parameter \$privateKey#'
    		path: src/Security/SecretVault/PlainSecretVault.php
    		count: 1
    	-
    		message: '#Constructor of class App\\Security\\SecretVault\\PlainSecretVault has an unused parameter \$publicKey#'
    		path: src/Security/SecretVault/PlainSecretVault.php
    		count: 1
    	-
    		message: '#Method App\\Components\\DataGridComponent\\DataGridControl::addFilterText\(\) has parameter \$columns with no value type specified in iterable type array.#'
    		path: src/Components/DataGridComponent/DataGridControl.php
    		count: 1
    	-
    		message: '#Method App\\Components\\DataGridComponent\\DataGridControl::addFilterSelect\(\) has parameter \$options with no value type specified in iterable type array.#'
    		path: src/Components/DataGridComponent/DataGridControl.php
    		count: 1
    	-
    		message: '#Method App\\Components\\DataGridComponent\\DataGridControl::addFilterMultiSelect\(\) has parameter \$options with no value type specified in iterable type array.#'
    		path: src/Components/DataGridComponent/DataGridControl.php
    		count: 1
    excludePaths:
    	analyseAndScan:
    		- src/Utils/Validator/IpUtils.php
    paths:
        - src
        - public
    fileExtensions:
    	- php
