<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<!-- Seo -->
	<title>{block #title|stripHtml|trim}{/block} | Shoptet+Fakturoid</title>

	<!-- Meta -->
	<meta name="description" n:ifset="#description" content="{include #description}">
	<meta name="keywords" n:ifset="#keywords" content="{include #keywords}">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="snippet,archive">
	<meta name="author" content="Tomáš Kulhánek">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CBRFTEGDJ4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-CBRFTEGDJ4');
	</script>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	{block #head}{/block}
</head>
<body class="{block #bodyClass}{/block}">
{block #main}
	{include #content}
{/block}
{block #scripts}{/block}
</body>
</html>
