<!DOCTYPE html>
<html>
<head>
	<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="1ca8e010-72fe-4b23-888a-29146fdd42b2" data-blockingmode="auto" type="text/javascript"></script>
	<script id="CookieDeclaration" src="https://consent.cookiebot.com/1ca8e010-72fe-4b23-888a-29146fdd42b2/cd.js" type="text/javascript" async></script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<title>{block #title|stripHtml|trim}{/block} | Fakturoid by Kulhánek</title>

	<meta name="description" n:ifset="#description" content="{include #description}">
	<meta name="keywords" n:ifset="#keywords" content="{include #keywords}">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="snippet,archive">
	<meta name="author" content="Tomáš Kulhánek">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-30M4VM1LZ1"></script>
	<script n:syntax="double">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-30M4VM1LZ1');
	</script>
	{block #head}{/block}
</head>
<body class="{block #bodyClass}{/block}" style="{block #bodyStyle}{/block}">
{block #main}
	{include #content}
{/block}
{block #scripts}{/block}
</body>
</html>
