extensions:
	contributte.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	contributte.console.extra: Contributte\Console\Extra\DI\ConsoleBridgesExtension(%consoleMode%)
	contributte.events: Contributte\EventDispatcher\DI\EventDispatcherExtension
	contributte.events2nette: Contributte\Events\Extra\DI\EventBridgesExtension
	contributte.mailing: Contributte\Mailing\DI\MailingExtension
	contributte.post: Contributte\Mail\DI\MailExtension
	contributte.guzzle: Contributte\Guzzlette\DI\GuzzleExtension
	contributte.tracy.bluescreens: Contributte\Tracy\DI\TracyBlueScreensExtension
	contributte.formwizzard: Contributte\FormWizard\DI\WizardExtension

contributte.guzzle:
	debug: %debugMode%
	client: # config for GuzzleHttp\Client
		timeout: 30

contributte.events:
	autoload: true
	lazy: true

contributte.post:
	# Trace emails in Tracy
	trace: %debugMode%

contributte.console:
	url: %console.url%
	lazy: true

contributte.mailing:
	template:
		config:
			layout: %appDir%/resources/mail/@layout.latte
