extensions:
    flysystem: Contributte\Flysystem\DI\FlysystemExtension

services:
	aws3Client:
		arguments:
		factory: Aws\S3\S3Client(%awsS3.clientSettings%)
flysystem:
    filesystem:
        default:
            adapter: \League\Flysystem\AwsS3v3\AwsS3Adapter(@aws3Client, %awsS3.bucket%, %awsS3.prefix%, [], false)
            autowired: true
