extensions:
	fmasa.messenger: Fmasa\Messenger\DI\MessengerExtension

parameters:
	messengerMiddlewares:
		- Symfony\Component\Messenger\Middleware\AddBusNameStampMiddleware(default)
		- Symfony\Component\Messenger\Middleware\RejectRedeliveredMessageMiddleware()
		- Symfony\Component\Messenger\Middleware\DispatchAfterCurrentBusMiddleware()
		- Symfony\Component\Messenger\Middleware\FailedMessageProcessingMiddleware()
		- Symfony\Component\Messenger\Middleware\ValidationMiddleware()
		- Symfony\Bridge\Doctrine\Messenger\DoctrinePingConnectionMiddleware
		- Symfony\Bridge\Doctrine\Messenger\DoctrineCloseConnectionMiddleware
		- App\MessageBus\UserMiddleware

fmasa.messenger:
	routing:
		App\MessageBus\Message\CreditNote: redis
		App\MessageBus\Message\Invoice: redis
		App\MessageBus\Message\ProformaInvoice: redis
		App\MessageBus\Message\Order: redis
		App\MessageBus\Message\Customer: redis
		App\MessageBus\Message\Synchronization\ProformaInvoiceSynchronizationMessage: redis
		App\MessageBus\Message\Synchronization\CreditNoteSynchronizationMessage: redis
		App\MessageBus\Message\Synchronization\InvoiceSynchronizationMessage: redis
		App\MessageBus\Message\Synchronization\OrderSynchronizationMessage: redis
		App\MessageBus\Message\Synchronization\CustomerSynchronizationMessage: redis
		App\DTO\Shoptet\ConfirmInstallation: redis


		App\MessageBus\Message\Accounting\Invoice: redis
		App\MessageBus\Message\Accounting\ProformaInvoice: redis
		App\MessageBus\Message\Accounting\CreditNote: redis
	transports:
		redis:
			dsn: %rabbit.dsn%
	buses:
		default:
			panel: %debugMode%
			middleware: %messengerMiddlewares%

services:
	fmasa.messenger.console.eventDispatcher:
		setup:
			- addSubscriber(@doctrineClearEntity)
	doctrineClearEntity: Symfony\Bridge\Doctrine\Messenger\DoctrineClearEntityManagerWorkerSubscriber
	-
		class: Symfony\Component\Messenger\Retry\MultiplierRetryStrategy
		tags: { "messenger.retryStrategy": "redis" }
		arguments:
			maxRetries: 3
			delayMilliseconds: 60000
			multiplier: 2
			maxDelayMilliseconds: 600000

	- App\MessageBus\MessageBusDispatcher(@fmasa.messenger.default.bus)
	- App\MessageBus\SynchronizeMessageBusDispatcher(@fmasa.messenger.default.bus)
	- App\MessageBus\AccountingBusDispatcher(@fmasa.messenger.default.bus)

	-
		class: App\MessageBus\Handler\DownloadCustomerMessageHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\DownloadCreditNoteMessageHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\DownloadInvoiceMessageHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\DownloadOrderMessageHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\DownloadProformaInvoiceMessageHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\DownloadCustomerMessageHandler
		tags: {messenger.messageHandler: {bus: default}}

	-
		class: App\MessageBus\Handler\Synchronization\SynchronizeProformaInvoiceHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\Synchronization\SynchronizeCreditNoteHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\Synchronization\SynchronizeInvoiceHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\Synchronization\SynchronizeCustomerHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\Synchronization\SynchronizeOrderHandler
		tags: {messenger.messageHandler: {bus: default}}

	-
		class: App\MessageBus\Handler\ProjectCreateHandler
		tags: {messenger.messageHandler: {bus: default}}

	-
		class: App\MessageBus\Handler\Accounting\InvoiceAccountingHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\Accounting\ProformaInvoiceAccountingHandler
		tags: {messenger.messageHandler: {bus: default}}
	-
		class: App\MessageBus\Handler\Accounting\CreditNoteAccountingHandler
		tags: {messenger.messageHandler: {bus: default}}
