extensions:
	contributte.monolog: Contributte\Monolog\DI\MonologExtension

contributte.monolog:
	hook:
		fromTracy: true
		toTracy: true
	holder:
		enabled: true
	channel:
		default:
			handlers:
				- @slackWebhookHandler
				- Mangoweb\MonologTracyHandler\TracyHandler('%appDir%/../var/log')
				- Monolog\Handler\RotatingFileHandler(%appDir%/../var/log/syslog.log, 30, Monolog\Logger::WARNING)
			processors:
			 	- Mangoweb\MonologTracyHandler\TracyProcessor
			 	- Monolog\Processor\WebProcessor()
			 	- Monolog\Processor\TagProcessor()
			 	- Monolog\Processor\HostnameProcessor()
			 	- Monolog\Processor\IntrospectionProcessor()
			 	- Monolog\Processor\MemoryPeakUsageProcessor()
			 	- Monolog\Processor\ProcessIdProcessor()


services:
	slackWebhookHandler:
		type: App\Monolog\SlackHandler
		arguments:
			url: %slack.webhook%
			channel: %slack.channel%
			icon_emoji: %slack.icon%
			level: 400
		setup:
			- addFormatter(@slackContextFormatter)
			- addFormatter(@slackColorFormatter)
			- addFormatter(@slackExceptionFormatter)
			- addFormatter(@slackExceptionPreviousExceptionsFormatter)

	slackContextFormatter: App\Monolog\Slack\Formatter\ContextFormatter
	slackColorFormatter: App\Monolog\Slack\Formatter\ColorFormatter
	slackExceptionFormatter: App\Monolog\Slack\Formatter\ExceptionFormatter
	slackExceptionPreviousExceptionsFormatter: App\Monolog\Slack\Formatter\ExceptionPreviousExceptionsFormatter

	monologTracyStorageDriver:
		type: Mangoweb\MonologTracyHandler\RemoteStorageDriver
		factory: Mangoweb\MonologTracyHandler\RemoteStorageDrivers\AwsS3RemoteStorageDriver
		arguments:
			region:  %awsS3.clientSettings.region%
			bucket: %awsS3.bucket%
			prefix: %awsS3.prefix%
			accessKeyId: %awsS3.clientSettings.credentials.key%
			secretKey: %awsS3.clientSettings.credentials.secret%

	monologTracyRequestSender:
		type: Mangoweb\MonologTracyHandler\RemoteStorageRequestSender
		factory: Mangoweb\MonologTracyHandler\RemoteStorageRequestSenders\ExecCurlRequestSender
