extensions:
	contributte.monolog: Contributte\Monolog\DI\MonologExtension

contributte.monolog:
	hook:
		fromTracy: true
		toTracy: true
	holder:
		enabled: true
	channel:
		default:
			handlers:
				- Rixafy\DiscordTracy\DiscordTracyHandler(%monolog.discord.webhooks%, %monolog.discord.name%, %monolog.discord.subname%, Monolog\Logger::ERROR)
				- @sentryMonologHandler
				- Monolog\Handler\RotatingFileHandler(%appDir%/../var/log/syslog.log, 30, Monolog\Logger::WARNING)
			processors:
				- Monolog\Processor\WebProcessor()
				- Monolog\Processor\TagProcessor()
				- Monolog\Processor\HostnameProcessor()
				- Monolog\Processor\IntrospectionProcessor()
				- Monolog\Processor\MemoryPeakUsageProcessor()
				- Monolog\Processor\ProcessIdProcessor()

services:
	sentryMonologHandler:
		class: Sentry\Monolog\Handler
		arguments:
			hub: @sentryHub
			level: Monolog\Logger::WARNING

	sentryHub:
		class: Sentry\State\HubInterface
		factory: Sentry\SentrySdk::init()
		setup:
			- bindClient(@sentryClient)

	sentryClientBuilder:
		class: Sentry\ClientBuilderInterface
		factory: Sentry\ClientBuilder::create(%monolog.sentry%)

	sentryClient:
		class: Sentry\ClientInterface
		factory: @sentryClientBuilder::getClient()
