extensions:
	translation: Contributte\Translation\DI\TranslationExtension

translation:
	locales:
		whitelist: [en, cs, sk]
		default: cs
		fallback: [cs]
	dirs:
		- %appDir%/../translations
	returnOriginalMessage: true # to not translate undefined messages, default is false
