includes:
	- ../app/parameters.neon
	- ../app/services.neon
	- ../ext/nextras.neon
	- ../ext/contributte.neon
	- ../ext/nettrine.neon
	- ../ext/forms.neon
	- ../ext/translation.neon
	- ../ext/encore.neon
	- ../ext/monolog.neon
	- ../ext/messenger.neon

php:
	date.timezone: Europe/Prague
	output_buffering: 4096

# Nette section
session:
	autoStart: always
	#cookieDomain: @Nette\Http\IRequest::getUrl()::getDomain(0)
	cookieHttponly: true
	#cookiePath: @Nette\Http\IRequest::getUrl()::getDomain(0)
	cookieSamesite: Lax
	debugger: %debugMode%
	expiration: 1 year
	name: SID
	#savePath: %tempDir%/session
	sidBitsPerCharacter: 6 # 4-6
	sidLength: 128 # 22-250
	useCookies: true
	useOnlyCookies: true
	useStrictMode: true

http:
	cookieSecure: auto
	proxy:
		- 192.168.96.1/20
		- 172.0.0.0/32
		- 10.0.0.0/8
		- 172.16.0.0/12
		- 192.168.0.0/16

application:
	catchExceptions: %productionMode%
	errorPresenter: %system.error.presenter%
	mapping:
		App: [App\Modules\App, *, *\*Presenter]
		Api: [App\Modules\Api, *, *\*Presenter]
		Front: [App\Modules\Front, *, *\*Presenter]
		Shoptet: [App\Modules\Shoptet, *, *\*Presenter]


latte:
	macros:
		- App\Latte\Macros::register
	strictTypes: true

tracy:
	logSeverity: E_ALL
	strictMode: yes
	keysToHide:
		- password
		- pass

mail: %mailConfiguration%

services:
	- App\Command\MailTestCommand
