includes:
	- base.neon
services:
	shoptetHookInitiatorValidator: App\Utils\Validator\Shoptet\InitiatorValidator
	fakturoidHookInitiatorValidator: App\Utils\Validator\Fakturoid\InitiatorValidator
parameters:
	mailConfiguration:
