# Production Config
includes:
	- base.neon
services:
	shoptetHookInitiatorValidator: App\Utils\Validator\InitiatorValidator
parameters:
	mailConfiguration:
		smtp: true
		clientHost: tomaskulhanek.cz
		host: tomaskulhanek-cz.mail.protection.outlook.com
		port: 25
		secure: tls
