navigation:
	orderStatus: 'Stavy objednávek'
	orders: 'Objednávky'
	invoices: 'Daňové doklady'
	proformaInvoices: 'Zálohové doklady'
	creditNotes: 'Dobropisy'
	logout: 'Odhlásit'
	openEshop: 'Otevřít E-shop'
	openAdmin: 'Administrace'
	settings: 'Nastavení'
	addonSettings: 'Nastavení propojení'
	customers: 'Zákazníci'
automatization:
	semi: 'Polo automatická'
	manual: 'Ruční'
	auto: 'Plně automatická'
sign:
	out: 'Odhlášení proběhlo úspěšně'
	in:
		message: 'Přihlašte se pouhým zadáním adresy svého e-shopu.'
		submit: 'Přihlásit'
		shoptetAuthError: 'Při přihlášení došlo k chybě, zkuste to prosím znovu.'
		stateMissMatch: 'Při přihlášení došlo k chybě, zkuste to prosím znovu.'
		missingShop: 'Je nám líto, ale v naší databázi nebyl obchod na adrese %shop% nalezen. Zadali jste to správně?<br/>Druhá možnost je, že nemáte aktivní doplněk Fakturoid. Více na <a href="https://doplnky.shoptet.cz">doplňcích Shoptet</a>.'
invoiceDetail:
	order: 'Objednávka'
	sameAddress: 'Shodná s fakturační adresou'
	invoice: 'Daňový doklad'
	customerContact: 'Zákaznické údaje'
	phone: 'Telefon'
	email: 'Email'
	billingAddress: 'Fakturační adresa'
	deliveryAddress: 'Doručovací adresa'
	proformaCode: 'Zálohová faktura'
	orderCode: 'Objednávka'
	changeTime: 'Změněno'
	exchangeRate: 'Kurz'
	orderStatus: 'Stav objednávky'
	mainBillingMethod: 'Platba'
	creationTime: 'Vytvořeno'
	itemType: 'Typ'
	productName: 'Popis položky'
	amount: 'Mn.'
	subtotal: 'Cena za kus'
	totalPrice: 'Cena celkem'
	paid: 'Zaplaceno'
	yes: 'Ano'
	no: 'Ne'
	orderPriceWithoutVat: 'Cena bez DPH'
	orderTax: 'DPH'
	orderPriceWithVat: 'Cena s DPH'
	orderPriceToPay: 'K úhradě'
	button:
		synchronize: 'Načíst z Shoptetu'
		createInAccounting: 'Uložit do Fakturoidu'
	message:
		createAccounting:
			success: 'Daňový doklad byl vytvořen.'
			alreadyExists: 'Daňový doklad je již vytvořen'
proformaInvoiceDetail:
	proformaInvoices: 'Daňové doklady'
	proformaInvoice: 'Zálohová faktura'
	order: 'Objednávka'
	sameAddress: 'Shodná s fakturační adresou'
	invoice: 'Daňový doklad'
	customerContact: 'Zákaznické údaje'
	phone: 'Telefon'
	email: 'Email'
	billingAddress: 'Fakturační adresa'
	deliveryAddress: 'Doručovací adresa'
	proformaCode: 'Zálohová faktura'
	orderCode: 'Objednávka'
	changeTime: 'Změněno'
	exchangeRate: 'Kurz'
	orderStatus: 'Stav objednávky'
	mainBillingMethod: 'Platba'
	creationTime: 'Vytvořeno'
	itemType: 'Typ'
	productName: 'Popis položky'
	amount: 'Mn.'
	subtotal: 'Cena za kus'
	totalPrice: 'Cena celkem'
	paid: 'Zaplaceno'
	yes: 'Ano'
	no: 'Ne'
	orderPriceWithoutVat: 'Cena bez DPH'
	orderTax: 'DPH'
	orderPriceWithVat: 'Cena s DPH'
	orderPriceToPay: 'K úhradě'
	button:
		synchronize: 'Načíst z Shoptetu'
		createInAccounting: 'Uložit do Fakturoidu'
	message:
		createAccounting:
			success: 'Daňový doklad byl vytvořen.'
			alreadyExists: 'Daňový doklad je již vytvořen'
app:
	orderStatuses:
		color: 'Barvy'
		type:
			success: 'Zelená'
			info: 'Modrá'
			danger: 'Červená'
			warning: 'Oranžová'
			primary: 'Modrá'
		remove: 'Opravdu chcete odebrat stav %name%?'
		statusRemoved: 'Stav objednávky byl smazanný'
		synchronize: 'Načíst změny z Shoptet'
		name: 'Název'
		yes: 'Ano'
		no: 'Ne'
		markAsPaid: 'Označit jako zaplacené'
		createInvoice: 'Vytvořit fakturu'
		createProforma: 'Vytvořit zálohou fakturu'
	settings:
		field:
			updateOrderStatuses: 'Synchronizovat stavy objednávek'
			propagateDeliveryAddress: 'Propisovat doručovací adresu na doklady'
			clearApiKey: 'Vymazat API klíč'
			automatization: 'Automatizace'
			accountingApiKey: 'API klíč'
			accountingEmail: 'Email'
			accountingAccount: 'Účet'
		successSaved: 'Nastavení bylo uloženo'
		apiKeyCleared: 'API klíč byl vymazán'
		orderStatusSyncFail: 'Stavy objednávek se nepodařilo načíst'
grid:
	button:
		completeCsvExport: 'Celkový export do CSV'
		filteredCsvExport: 'Export do CSV'

invoiceList:
	message:
		synchronize:
			success: 'Faktura %code% byla aktualizována ze systému Shoptet.'
			error: 'Fakturu %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat fakturu %code% z Shoptetu?'
	column:
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		orderCode: 'Číslo objednávky'
		billingFullName: 'Jméno a příjmení'
		billingName: 'Platba'
		proformaInvoiceCode: 'Zálohová faktura'
		dueDate: 'Datum splatnosti'
		toPay: 'K zaplacení'
		withVat: 'Cena celkem'
		isValid: 'Platný'
		taxDate: 'DUZP'

proformaInvoiceList:
	message:
		synchronize:
			success: 'Zálohová faktura %code% byla aktualizována ze systému Shoptet.'
			error: 'Zálohovou fakturu %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat zálohouv fakturu %code% z Shoptetu?'
	column:
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		orderCode: 'Číslo objednávky'
		billingFullName: 'Jméno a příjmení'
		withVat: 'Cena'

orderList:
	changeStatus: 'Změnit stav'
	message:
		invoiceCreate:
			success: 'K objenávce %code% byl vytvořen <a href="%link%">daňový doklad</a>'
		synchronize:
			success: 'Objednávka %code% byla aktualizována ze systému Shoptet.'
			error: 'Objednávku %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat objednávku %code% z Shoptetu?'
	column:
		status: 'Stav'
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		billingFullName: 'Jméno a příjmení'
		billingName: 'Platba'
		shippingName: 'Doprava'
		priceWithVat: 'Cena celkem'
		source: 'Zdroj'

creditNoteList:
	message:
		synchronize:
			success: 'Dobropis %code% byla aktualizována ze systému Shoptet.'
			error: 'Dobropis %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat zálohouv dobropis %code% z Shoptetu?'
	column:
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		invoiceCode: 'Číslo daňového dokladu'
		billingFullName: 'Jméno a příjmení'
		withVat: 'Cena'

orderDetail:
	invoices: 'Daňové doklady'
	proformaInvoices: 'Zálohové doklady'
	creditNotes: 'Dobropisy'
	notices:
		invoicesAlreadyExists: 'Objednávka již obsahuje daňové doklady'
	sameAddress: 'Shodná s fakturační adresou'
	button:
		createProformaInvoice: 'Vytvořit zálohovou fakturu'
		createInvoice: 'Vytvořit novou fakturu'
		synchronize: 'Aktualizovat z Shoptetu'
	order: 'Objednávka'
	customerContact: 'Zákaznické údaje'
	phone: 'Telefon'
	email: 'Email'
	billingAddress: 'Fakturační adresa'
	deliveryAddress: 'Doručovací adresa'
	paid: 'Zaplaceno'
	orderStatus: 'Stav objednávky'
	mainBillingMethod: 'Platba'
	changeTime: 'Změněno'
	exchangeRate: 'Kurz'
	creationTime: 'Vytvořeno'
	itemType: 'Typ'
	productName: 'Popis položky'
	productState: 'Stav'
	amount: 'Mn.'
	subtotal: 'Cena za kus'
	totalPrice: 'Cena celkem'
	yes: 'Ano'
	no: 'Ne'
	orderPriceWithoutVat: 'Cena bez DPH'
	orderTax: 'DPH'
	orderPriceWithVat: 'Cena s DPH'
	orderPriceToPay: 'K úhradě'
customerList:
	column:
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		company: 'Společnost'
		vatId: 'DIČ'
		companyId: 'IČ'
		fullName: 'Jméno a příjmení'
		street: 'Ulice'
		city: 'Město'
		zip: 'PSČ'
		email: 'Email'
		district: 'Čtvrť'
		phone: 'Telefon'

installWizard:
	field:
		updateOrderStatuses: 'Synchronizovat stavy objednávek'
		propagateDeliveryAddress: 'Propisovat doručovací adresu na doklady'
		automatization: 'Automatizace'
		one:
			accountingApiKey: 'API klíč'
			accountingEmail: 'Email'
			accountingAccount: 'Účet'
			confirmAccounting: 'Jsem to opravdu já'
		two:
			plan: 'Plán'
			name: 'Název'
			registrationNo: 'IČ'
			vatNo: 'DIČ'
			street: 'Ulice'
			city: 'Město'
			zip: 'PSČ'
	step:
		connecting: 'Propojení'
		confirmation: 'Ověření'
		accounting: 'Doklady'
	button:
		two:
			next: 'Údaje jsou správné'
		next: 'Další'
		back: 'Zpět'
		complete: 'Dokončit'

home:
	accounting:
		steps:
			finish:
				information: 'Hotovo'
				li:
					one: 'Nastavené modulu máme v pořádku a nyní máme Váš eshop <i>%eshopName%</i> propojený s Fakturoidem. Stažení aktuálních dokladů z obchodu může chvíli trvat.'
					two: 'Ale přeci tu mám ještě jednu prosbu. Pokud by chcete abych věděl i o změnách ve Fakturoidu, tak si nastavte <a href="%fakturoidLink%" target="_blank"><b>webhook</b></a> na mojí adresu <span style="white-space: nowrap;"><code id="webhook-url">%webhookLink%</code><button type="button" class="btn btn-xs" clipboard-copy-target-id="webhook-url"><i class="far fa-clipboard"></i></button></span>'
			one:
				information: 'Nejprve je potřeba nastavit spojení s Fakturoidem, abychom si s ním mohli povídat.'
				li:
					one: 'Přihlaste se do svého <a href="https://fakturoid.cz" target="_blank"><b>Fakturoidího</b></a> účtu a předěte do <b>Nastavení -> Uživatelský účet</b>'
					two: 'Zadejte svůj email, pod kterým jste přihlášený'
					three: 'V sekci <b>Oprávnění k účtu</b> naleznete svojí firmu a překopírujte název účtu'
					four: 'O kousek níže naleznete <b>API klíč</b> kde stistkněte tlačítko <b>Zkopírovat</b> a k nám ho vložte'
					five: 'Každý tarif má nějaké omezení na počet API dotazů, ale nebojte se, budeme si je hlídat a popřípadě Vás budeme informovat předem.'
			two:
				checkYourInformations: 'Pro jistotu si zkontrolujte, zda jsme se spojili se správným účtem a jen mi to potvrďte. Pokud Vám ale zde něco chybí, tak Vás požádám o doplnění přímo ve Fakturoidu, já si to pak ověřím.'
				information:
					success: 'Super! Spojení nám funguje'
					failed: 'Jejda, nějaký údaj jsem obdržel špatně a nepodařilo se mi spojit s Fakturoidem.'

accounting:
	deliveryAddress: 'Doručovací adresa'
'#': '#'
'-': '-'
