navigation:
	history: 'Historie komunikace'
	orderStatus: 'Stavy objednávek'
	orders: 'Objednávky'
	invoices: 'Daňové doklady'
	proformaInvoices: 'Zálohové doklady'
	creditNotes: 'Dobropisy'
	logout: 'Odhlásit'
	openEshop: 'Otevřít E-shop'
	openAdmin: 'Administrace'
	settings: 'Nastavení'
	addonSettings: 'Nastavení propojení'
	customers: 'Zákazníci'
	other: 'Ostatní'
	contactUs: 'Kontaktujte mne'
	profile: 'Moje nastavení'
	currencies: 'Měny'
pages:
	signIn: 'Přihlášení'
	setPassword: 'Nastavení hesla'
profile:
	title: 'Moje nastavení'
	changePassword:
		title: 'Změna hesla'
		oldPassword: 'Stávající heslo'
		password: 'Nové heslo'
		passwordAgain: 'Nové heslo pro kontrolu'
		submit: 'Změnit'
		passwordChanged: 'Vaše heslo bylo změněno. Prosím přihlašte se znovu'
		oldPasswordIsNotCorrect: 'Stávající heslo není správné'
tickets:
	message: 'Napište Váš dotaz'
	success: 'Váš dotaz jsme obdrželi. V nejbližší době Vás budeme kontaktovat'
	submit: 'Odeslat'
mail:
	installation:
		subject: 'Fakturoid by Kulhánek - Váš doplněk je připravený'
		email: 'Přihlašovací jméno'
		password: 'Heslo'
		heading: 'Váš doplněk Fakturoid je připravený k používání'
		description: '<p>K plné funkčností je potřeba ještě pár kroků, které dokončíte pomocí odkazu níže. Pro Vaše pohodlí se přihlásíte pomocí ověření eshopem.</p><p>Nemusíte tak složitě si pamatovat další přihlašovací údaje.</p>'
		continueOnSignIn: 'Dokončit nastavení'
orderStatusList:
	paragraph1: '<p>Ulehčete si práci a nastavte si automatizaci vytváření dokladů. Daný doklad se vytvoří v případě, kdy se změní stav objednávky a doklad ještě neexistuje.</p>'
	title: 'Stavy objednávky'
automatization:
	semi: 'Semi Auto'
	manual: 'Ruční'
	auto: 'Auto'
sign:
	out: 'Odhlášení proběhlo úspěšně'
	in:
		continueSSO: 'Pokračovat na přihlášení'
		submit: 'Přihlásit'
		shoptetAuthError: 'Při přihlášení došlo k chybě, zkuste to prosím znovu.'
		stateMissMatch: 'Při přihlášení došlo k chybě, zkuste to prosím znovu.'
		missingShop: 'Je nám líto, ale v naší databázi nebyl obchod na adrese <b>%shop%</b> nalezen. Zadali jste to správně?<br/>Druhá možnost je, že nemáte aktivní doplněk Fakturoid. Více na <a href="https://doplnky.shoptet.cz">doplňcích Shoptet</a>.'
		missingUser: 'Je nám líto, ale váš účet nebyl nalezen v naší databázi pro eshop <b>%shop%</b>. Zkuste se přihlásit pomocí emailu a hesla, nebo kontaktujte správce.'
		credentialsMissmatch: 'Zadané přihlašovací údaje nejsou správné.'
invoiceDetail:
	notices:
		deleted: 'Daňový doklad je smazaný'
	title: 'Daňový doklad %code%'
	proformaInvoices: 'Zálohové doklady'
	order: 'Objednávka'
	sameAddress: 'Shodná s fakturační adresou'
	invoice: 'Daňový doklad'
	customerContact: 'Zákaznické údaje'
	phone: 'Telefon'
	email: 'Email'
	billingAddress: 'Fakturační adresa'
	deliveryAddress: 'Doručovací adresa'
	proformaCode: 'Zálohová faktura'
	orderCode: 'Objednávka'
	changeTime: 'Změněno'
	exchangeRate: 'Kurz'
	orderStatus: 'Stav objednávky'
	mainBillingMethod: 'Platba'
	creationTime: 'Vytvořeno'
	itemType: 'Typ'
	productName: 'Popis položky'
	amount: 'Mn.'
	subtotal: 'Cena za kus'
	totalPrice: 'Cena celkem'
	paid: 'Zaplaceno'
	yes: 'Ano'
	no: 'Ne'
	orderPriceWithoutVat: 'Cena bez DPH'
	orderTax: 'DPH'
	orderPriceWithVat: 'Cena s DPH'
	orderPriceToPay: 'K úhradě'
	button:
		downloaInvoice: 'Stáhnout daňový doklad'
		synchronize: 'Načíst z Shoptetu'
		createInAccounting: 'Uložit do Fakturoidu'
	message:
		synchronize:
			success: "Zálohová faktura %code% byla aktualizována ze systému Shoptet."
			error: 'Zálohovou fakturu %code% se nepodařilo aktualizovat ze systému Shoptet.'
		createAccounting:
			success: 'Daňový doklad byl vytvořen.'
			alreadyExists: 'Daňový doklad je již vytvořen'
			emptyLines: 'Daňový doklad neobsahuje žádné položky'
proformaInvoiceDetail:
	notices: 'Zálohový doklad je smazaný'
	title: 'Zálohová faktura %code%'
	proformaInvoices: 'Daňové doklady'
	proformaInvoice: 'Zálohová faktura'
	order: 'Objednávka'
	sameAddress: 'Shodná s fakturační adresou'
	invoice: 'Daňový doklad'
	customerContact: 'Zákaznické údaje'
	phone: 'Telefon'
	email: 'Email'
	billingAddress: 'Fakturační adresa'
	deliveryAddress: 'Doručovací adresa'
	proformaCode: 'Zálohová faktura'
	orderCode: 'Objednávka'
	changeTime: 'Změněno'
	exchangeRate: 'Kurz'
	orderStatus: 'Stav objednávky'
	mainBillingMethod: 'Platba'
	creationTime: 'Vytvořeno'
	itemType: 'Typ'
	productName: 'Popis položky'
	amount: 'Mn.'
	subtotal: 'Cena za kus'
	totalPrice: 'Cena celkem'
	paid: 'Zaplaceno'
	yes: 'Ano'
	no: 'Ne'
	orderPriceWithoutVat: 'Cena bez DPH'
	orderTax: 'DPH'
	orderPriceWithVat: 'Cena s DPH'
	orderPriceToPay: 'K úhradě'
	button:
		createInvoice: 'Zaznamenat platbu (vytvoří daňový doklad)'
		downloadInvoice: 'Stáhnout doklad'
		synchronize: 'Načíst z Shoptetu'
		createInAccounting: 'Uložit do Fakturoidu'
	message:
		createInvoice:
			success: 'Daňový doklad %code% byl vytvořen'
			error: 'Daňový doklad se nepodařilo vytvořit'
		createAccounting:
			success: 'Daňový doklad byl vytvořen.'
			alreadyExists: 'Daňový doklad je již vytvořen'
			emptyLines: 'Daňový doklad neobsahuje žádné položky'
app:
	currencies:
		paragraph1: '<p>Následující nastavení slouží k tomu, aby jsme přiřadili správný bankovní účet k dokladu dle měny a zda šlo o pokladnu nebo eshop.</p>'
		pageTitle: 'Nastavení měn'
		cashdesk: ''
		code: 'Kód měny'
		title: 'Název'
		accountingBank: 'Účet ve Fakturoidu'
		rounding: 'Zaokrouhlování'
		roundTotal: 'Zaokrouhlit cenu s DPH (při vystavení)'
	orderStatuses:
		color: 'Barvy'
		type:
			success: 'Zelená'
			info: 'Modrá'
			danger: 'Červená'
			warning: 'Oranžová'
			primary: 'Modrá'
		remove: 'Opravdu chcete odebrat stav %name%?'
		statusRemoved: 'Stav objednávky byl smazanný'
		synchronize: 'Načíst z Shoptetu'
		name: 'Název'
		yes: 'Ano'
		no: 'Ne'
		markAsPaid: 'Označit jako zaplacené'
		createInvoice: 'Vytvořit fakturu'
		createProforma: 'Vytvořit zálohou fakturu'

grid:
	button:
		completeCsvExport: 'Celkový export do CSV'
		filteredCsvExport: 'Export do CSV'

invoiceList:
	title: 'Daňové doklady'
	uploadToAccounting: 'Aktualizovat ve Fakturoidu'
	message:
		massUploadToAccounting:
			success: 'Daňové doklady %codes% byly aktualizovány ve fakturoidu.'
			error: 'Daňové doklady %codes% se nepodařilo aktualizovat ve Fakturoidu.'
		uploadToAccounting:
			success: 'Daňový doklad byl aktualizován ve fakturoidu.'
			error: 'Daňový doklad %code% se nepodařilo aktualizovat ve Fakturoidu.'
		synchronize:
			success: 'Faktura %code% byla aktualizována ze systému Shoptet.'
			error: 'Fakturu %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat fakturu %code% z Shoptetu?'
	column:
		accountingUpdatedAt: 'Fakturoid aktualizace'
		accountingNumber: 'Číslo ve Fakturoidu'
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		orderCode: 'Číslo objednávky'
		billingFullName: 'Jméno a příjmení'
		billingName: 'Platba'
		proformaInvoiceCode: 'Zálohová faktura'
		dueDate: 'Datum splatnosti'
		toPay: 'K zaplacení'
		withVat: 'Cena celkem'
		isValid: 'Platný'
		taxDate: 'DUZP'
		deletedAt: 'Smazáno'

proformaInvoiceList:
	title: 'Zálohové doklady'
	uploadToAccounting: 'Aktualizovat ve Fakturoidu'
	message:
		massUploadToAccounting:
			success: 'Zálohové doklady %codes% byly aktualizovány ve fakturoidu.'
			error: 'Zálohové doklady %codes% se nepodařilo aktualizovat ve Fakturoidu.'
			invoiceExists: 'Zálohové doklady %codes% nelze aktualizovat, jelikož k nim již existují daňové doklady.'
		uploadToAccounting:
			success: 'Zálohový doklad byl aktualizován ve fakturoidu.'
			error: 'Zálohový doklad %code% se nepodařilo aktualizovat ve Fakturoidu.'
			invoiceExists: 'Zálohový doklad %code% nelze aktualizovat, jelikož k němu již existuje daňový doklad.'
		synchronize:
			success: 'Zálohová faktura %code% byla aktualizována ze systému Shoptet.'
			error: 'Zálohovou fakturu %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat zálohouv fakturu %code% z Shoptetu?'
	column:
		accountingUpdatedAt: 'Fakturoid aktualizace'
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		orderCode: 'Číslo objednávky'
		billingFullName: 'Jméno a příjmení'
		withVat: 'Cena'
		deletedAt: 'Smazáno'
		dueDate: 'Datum splatnosti'
		taxDate: 'Datum zdanitelného plnění'
		proformaInvoiceCode: 'Číslo dokladu'
address:
	registrationNo: 'IČ'
	vatId: 'DIČ'
orderList:
	title: 'Přehled objednávek'
	synchronizeAll: 'Aktualizovat vše z Shoptetu'
	synchronize: 'Načíst z Shoptetu'
	changeStatus: 'Změnit stav'
	message:
		invoiceCreate:
			success: 'K objenávce %code% byl vytvořen <a href="%link%">daňový doklad</a>'
		synchronizeAll:
			success: 'Stažení objednávek bylo zařazeno do fronty'
			error: 'Stažení objednávek se nepodařilo, zkuste to prosím později'
		synchronize:
			success: 'Objednávka %code% byla aktualizována ze systému Shoptet.'
			error: 'Objednávku %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat objednávku %code% z Shoptetu?'
	column:
		code: 'Číslo objednávky'
		status: 'Stav'
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		billingFullName: 'Jméno a příjmení'
		billingName: 'Platba'
		shippingName: 'Doprava'
		priceWithVat: 'Cena celkem'
		source: 'Zdroj'

creditNoteList:
	creditNoteList: 'Aktualizovat ve Fakturoidu'
	title: 'Dobropisy'
	message:
		synchronize:
			success: 'Dobropis %code% byla aktualizována ze systému Shoptet.'
			error: 'Dobropis %code% se nepodařilo aktualizovat ze systému Shoptet.'
	synchronizeQuestion: 'Opravdu si přejete aktualizovat dobropis %code% z Shoptetu?'
	column:
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		invoiceCode: 'Číslo daňového dokladu'
		billingFullName: 'Jméno a příjmení'
		withVat: 'Cena'
		accountingUpdatedAt: 'Fakturoid aktualizace'
		accountingNumber: 'Číslo ve Fakturoidu'
		orderCode: 'Číslo objednávky'
		billingName: 'Platba'
		proformaInvoiceCode: 'Zálohová faktura'
		dueDate: 'Datum splatnosti'
		toPay: 'K zaplacení'
		isValid: 'Platný'
		taxDate: 'DUZP'
		deletedAt: 'Smazáno'

orderDetail:
	title: 'Detail objednávky %code%'
	account: 'Fakturovat'
	invoices: 'Daňové doklady'
	proformaInvoices: 'Zálohové doklady'
	creditNotes: 'Dobropisy'
	notices:
		orderDeleted: 'Objednávka je smazaná'
		invoicesAlreadyExists: 'Objednávka již obsahuje daňové doklady'
	sameAddress: 'Shodná s fakturační adresou'
	button:
		createProformaInvoice: 'Vytvořit zálohovou fakturu'
		createInvoice: 'Vytvořit novou fakturu'
		synchronize: 'Načíst z Shoptetu'
	order: 'Objednávka'
	customerContact: 'Zákaznické údaje'
	phone: 'Telefon'
	email: 'Email'
	billingAddress: 'Fakturační adresa'
	deliveryAddress: 'Doručovací adresa'
	paid: 'Zaplaceno'
	orderStatus: 'Stav objednávky'
	mainBillingMethod: 'Platba'
	changeTime: 'Změněno'
	exchangeRate: 'Kurz'
	creationTime: 'Vytvořeno'
	itemType: 'Typ'
	productName: 'Popis položky'
	productState: 'Stav'
	amount: 'Mn.'
	subtotal: 'Cena za kus'
	totalPrice: 'Cena celkem'
	yes: 'Ano'
	no: 'Ne'
	orderPriceWithoutVat: 'Cena bez DPH'
	orderTax: 'DPH'
	orderPriceWithVat: 'Cena s DPH'
	orderPriceToPay: 'K úhradě'
customerList:
	title: 'Přehled zákazníků'
	column:
		creationTime: 'Vytvořeno'
		changeTime: 'Změněno'
		company: 'Společnost'
		vatId: 'DIČ'
		companyId: 'IČ'
		fullName: 'Jméno a příjmení'
		street: 'Ulice'
		city: 'Město'
		zip: 'PSČ'
		email: 'Email'
		district: 'Čtvrť'
		phone: 'Telefon'
		accountingId: 'ID Fakturoid'

installWizard:
	field:
		updateOrderStatuses: 'Synchronizovat stavy objednávek'
		propagateDeliveryAddress: 'Propisovat doručovací adresu na doklady'
		automatization: 'Automatizace'
		one:
			accountingApiKey: 'API klíč'
			accountingEmail: 'Emailová adresa'
			accountingAccount: 'Účet'
			confirmAccounting: 'Jsem to opravdu já'
		two:
			plan: 'Plán'
			name: 'Název'
			registrationNo: 'IČ'
			vatNo: 'DIČ'
			street: 'Ulice'
			city: 'Město'
			zip: 'PSČ'
		three:
			automatization: 'Zpracování'
			synchronizeInformation: 'Vyberte co vše chcete automaticky synchronizovat z Shoptetu.'
			synchronizeInvoices: 'Daňové doklady'
			synchronizeCreditNotes: 'Dobropisy'
			synchronizeProformaInvoices: 'Zálohové doklady'
			enableAccountingUpdate: 'Aktualizovat doklady ve Fakturoidu při změně z Shoptetu'
	step:
		connecting: 'Propojení'
		confirmation: 'Ověření'
		accounting: 'Doklady'
	button:
		two:
			next: 'Údaje jsou správné'
		next: 'Další'
		back: 'Zpět'
		complete: 'Dokončit'

actionLog:
	documents:
		invoice: 'Daňový doklad'
		credit-note: 'Dobropis/Opravný doklad'
		proforma-invoice: 'Zálohový doklad'
		order: 'Objednávka'
		customer: 'Kontakt'
	order:
		update: ''
		create: ''
	invoice:
		update: ''
		create: ''
	proformaInvoice:
		update: ''
		create: ''
	creditNote:
		update: ''
		create: ''
	shoptet:
		order:
			detail: 'Shoptet - získání informací'
		invoice:
			detail: 'Shoptet - získání informací'
		proforma:
			detail: 'Shoptet - získání informací'
		creditNote:
			detail: 'Shoptet - získání informací'
		customer:
			detail: 'Shoptet - získání informací'
	accounting:
		subject:
			create: 'Fakturoid - založení'
		invoice:
			detail: 'Fakturoid - získání informací'
			list: 'Fakturoid - získání seznamu'
			create: 'Fakturoid - založení'
			update: 'Fakturoid - aktualizace'
		proforma:
			detail: 'Fakturoid - získání informací'
			list: 'Fakturoid - získání seznamu'
			create: 'Fakturoid - založení'
			update: 'Fakturoid - aktualizace'
		creditNote:
			detail: 'Fakturoid - získání informací'
			list: 'Fakturoid - získání seznamu'
			create: 'Fakturoid - založení'
			update: 'Fakturoid - aktualizace'
		customer:
			detail: 'Fakturoid - získání informací'
			list: 'Fakturoid - získání seznamu'
			create: 'Fakturoid - založení'
			update: 'Fakturoid - aktualizace'

home:
	accounting:
		steps:
			finish:
				information: 'Hotovo'
				li:
					one: 'Nastavené modulu máme v pořádku a nyní máme Váš eshop <i>%eshopName%</i> propojený s Fakturoidem. Stažení aktuálních dokladů z obchodu může chvíli trvat.'
					two: 'Ale přeci tu mám ještě jednu prosbu. Pokud by chcete abych věděl i o změnách ve Fakturoidu, tak si nastavte <a href="%fakturoidLink%" target="_blank"><b>webhook</b></a> na mojí adresu <span style="white-space: nowrap;"><code id="webhook-url">%webhookLink%</code><button type="button" class="btn btn-xs" clipboard-copy-target-id="webhook-url"><i class="far fa-clipboard"></i></button></span>'
			one:
				information: 'Nejprve je potřeba nastavit spojení s Fakturoidem, abychom si s ním mohli povídat.'
				li:
					one: 'Přihlaste se do svého <a href="https://fakturoid.cz" target="_blank"><b>Fakturoidího</b></a> účtu a předěte do <b>Nastavení -> Uživatelský účet</b>'
					two: 'Zadejte svůj email, pod kterým se přihlašujete do Fakturoidu'
					three: 'V sekci <b>Oprávnění k účtu</b> naleznete svojí firmu a překopírujte název účtu'
					four: 'O kousek níže naleznete <b>API klíč</b> kde stistkněte tlačítko <b>Zkopírovat</b> a k nám ho vložte'
					five: 'Každý tarif má nějaké omezení na počet API dotazů, ale nebojte se, budeme si je hlídat a popřípadě Vás budeme informovat předem.'
			two:
				checkYourInformations: 'Pro jistotu si zkontrolujte, zda jsme se spojili se správným účtem a jen mi to potvrďte. Pokud Vám ale zde něco chybí, tak Vás požádám o doplnění přímo ve Fakturoidu, já si to pak ověřím.'
				information:
					success: 'Super! Spojení nám funguje'
					failed: 'Jejda, nějaký údaj jsem obdržel špatně a nepodařilo se mi spojit s Fakturoidem.'
			three:
				documentDownloadFrom: 'Od jakého data chcete zpracovat doklady?'
				endUser: 'Koncový zákazník'
				accountingNumberLineId: 'Daňové doklady'
				accountingCreditNoteNumberLineId: 'Opravné doklady'
				information: 'Nyní si prosím nastavte, jak má probíhat komunikace s Vaším obchodem.'
				documentSynchronization: 'Jaké doklady chcete automaticky stahovat krom objednávek?'
				automatizationInformation:
					li:
						one: '<b>Ruční</b> znamená, že vešekeré doklady budete zpracovávat sami. Já Vám jen usnadním přenos dat.'
						two: '<b>Semi Auto</b>, dle nastavení stavů objednávek Vám budu vytvářet doklady, ale do Fakturoidu je odešlu až s Vaším souhlasem.'
						three: '<b>Auto</b>, já se postarám o vystavení dokladů a rovnou je pošlu do Fakturoidu. Vy můžete v klidu prodávat. <i>(Doporučuji tuto možnost zapnout až po odlazení procesu)</i>'

settings:
	accounting:
		title: 'Fakturoid'
		saved: 'Nastavení bylo uloženo'
		submit: 'Uložit'
		clearApiKey: 'Vymazat klíč'
		propagateDeliveryAddress: 'Propisovat doručovací adresu na doklady'
		accountingApiKey: 'API klíč'
		accountingApiKeyPlaceholder: 'Pokud ponecháte prázdné, nedojde ke změně'
		accountingNumberLineId: 'Daňové doklady'
		accountingCreditNoteNumberLineId: 'Opravné doklady'
		accountingNumberLineIdDescription: 'V případě, že chcete využívat zálohové doklady, tak je potřeba využívat výchozí číselnou řadu kvůli omezení na straně Fakturoidu. V opačném případě můžete pro doklady z Vašeho Eshopu využívat jinou číselnou řadu.'
		accountingEmail: 'Emailová adresa'
		accountingAccount: 'Účet'
		confirmAccounting: 'Jsem to opravdu já'
		webhook: 'Pokud by chcete abych věděl i o změnách ve Fakturoidu, tak si nastavte <a href="%fakturoidLink%" target="_blank"><b>webhook</b></a> na mojí adresu <span style="white-space: nowrap;"><code id="webhook-url">%webhookLink%</code><button type="button" class="btn btn-xs" clipboard-copy-target-id="webhook-url"><i class="far fa-clipboard"></i></button></span>'
		reminder: 'Připomenout zákazníkům zaplacení'
		enableAccountingUpdate: 'Aktualizovat doklady při změně z Shoptetu'
		accountingInvoiceTags: 'Daňové doklady'
		accountingProformaInvoiceTags: 'Zálohové doklady'
		accountingCreditNoteTags: 'Dobropisy'
		accountingCustomerTags: 'Zákazníky'
	shoptet:
		title: 'Shoptet'
		saved: 'Nastavení bylo uloženo'
		information: 'Jak má probíhat komunikace s Vaším obchodem.'
		submit: 'Uložit'
		documentSynchronization: 'Jaké doklady chcete automaticky stahovat krom objednávek?'
		synchronizeInvoices: 'Daňové doklady'
		synchronizeCreditNotes: 'Dobropisy'
		synchronizeProformaInvoices: 'Zálohové doklady'
		automatizationInformation:
			li:
				one: '<b>Ručně</b> - Veškeré doklady musíte prenést stisknutím tlačítka pro uložení.'
				three: '<b>Auto</b> - Nemusíte se o nic starat. Stačí Vám pracovat v administraci eshopu a veškeré doklady se Vám budou přenášet automaticky.'


accounting:
	deliveryAddress: 'Doručovací adresa'
'#': '#'
'-': '-'
formValidation:
	uploadValid: Nastala chyba při nahrávání souboru.
	selectValid: Prosím vyberte platnou hodnotu.
	image: "Vložený soubor musí být obrázek formátu JPEG, GIF, PNG nebo WebP."
	mimeType: Vložený soubor není povolený.
	maxPostSize: Velikost zaslaných dat přesáhla limit %d bitů.
	maxFileSize: Velikost souboru musí být maximálně %d bitů.
	range: Prosím zadejte hodnotu mezi %d a %d.
	max: Prosím zadejte hodnotu menší než %d.
	min: Prosím zadejte hodnotu větší než %d.
	float: Prosím zadejte platné číslo.
	integer: Prosím zadejte celé číslo.
	url: Prosím zadejte platnou URL adresu.
	email: Prosím zadejte platný email.
	length: Prosím zadejte text mezi %d a %d znaky.
	maxLength: Prosím zadejte text menší než %d znaků.
	minLength: Prosím zadejte text větší než %d znaků.
	blank: Toto pole musí být prázdné.
	filled: Toto pole je povinné.
	notEqual: Toto pole nesmí obsahovat hodnotu %s.
	equal: Toto pole musí obsahovat hodnotu %s.
	csrfProtection: Vaše session expirovala. Prosím zkuste provést operaci znovu.

input:
	prompt:
		country: Vyberte zemi.

	required:
		email: Zadejte platnou emailovou adresu.

	validationError:
		passwordDoesntMatch: 'Zadaná hesla se neshodují'
		email: Zadný email není platný.
		unsupportedFiles: "Byl vložen nepodporovaný formát souboru. Povoleny jsou jen následující: %s"
		unsupportedFile: "Byl vložen nepodporovaný formát souboru. Povoleny jsou jen následující: %s"

	rule:
		passwordLength: Délka hesla musí být minimálně %d a nejvíce %d znaků.

	email: Email
	placeholder:
		web: Adresa Vašeho e-shopu
		password: Heslo
		email: emailova@adresa.cz

	passwordAgain: Heslo pro kontrolu
	error:
		passwordNotSame: Zadaná hesla nejsou shtejná.

setPassword:
	passwordMismatch: 'Zadaná hesla se neshodují'
	success: 'Heslo bylo úspěšně změněno'
	submit: 'Změnit heslo'
	input:
		placeholder:
			password: 'Nové heslo'
			passwordAgain: 'Nové heslo pro kontrolu'
