no_item_found_reset: 'Nebyly nalezeny žádné položky. Smažte vyhledávací kritéria'
no_item_found: 'Nebyly nalezeny žádné položky.'
here: 'zde'
items: 'Položky'
all: 'vše'
from: 'z'
reset_filter: 'Smazat vyhledávání'
group_actions: 'Hromadná akce'
show: 'Zobrazit'
add: 'Přidat'
edit: 'Upravit'
show_all_columns: 'Zobrazit všechny sloupce'
show_default_columns: 'Zobrazit výchozí sloupce'
hide_column: 'Skrýt sloupce'
action: 'Akce'
previous: 'Předchozí'
next: 'Další'
choose: 'Vybrat'
choose_input_required: 'Textová hromadná operace nedovoluje prázdnou hodnotu'
execute: 'Vykonat'
save: 'Uložit'
cancel: 'Zrušit'
multiselect_choose: 'Vybrat'
multiselect_selected: '{0} vybráno'
filter_submit_button: 'Vyhledat'
show_filter: 'Zobrazit filtr'
per_page_submit: 'Změnit'
