# Parameters
#
parameters:
	monolog:
		discord:
			name: 'Fakturoid'
			subname: 'Shoptet addon'
	rabbit:
		dsn: 'amqp://guest:guest@rabbit:5672'
	shoptet:
		maxAccessTokens: 2
	accounting:
		prefix: 'p:'
		defaultUserAgent: 'Tomáš Kulhánek - fakturoid.tomaskulhanek.cz <jsem@tomaskulhanek.cz>'
	guzzle:
		defaultHeaders: ['User-Agent': %accounting.defaultUserAgent% ]
	# System
	system:
		error:
			presenter: Front:Error

	# Database
	database:
		driver: pdo_pgsql
		port: 5432


