# Parameters
#
parameters:
	monolog:
		discord:
			name: 'Fakturoid'
			subname: 'Shoptet addon'
			webhooks:
				- 'https://discordapp.com/api/webhooks/939612343669760050/IJYehuwup8QaXTmpXqiMFDVZ7Cwcwv7XRyQDeQxzJXpmSbeNpnsveD9JiAq8F75PMzS_'
		sentry:
			dsn: https://6c8b455991df4115aec1e540f465aa43@o450294.ingest.sentry.io/6086063
	rabbit:
		dsn: 'amqp://guest:guest@rabbitmq:5672'
	shoptet:
		maxAccessTokens: 2
	accounting:
		prefix: 'p:'
		defaultUserAgent: 'Tomáš Kulhánek - fakturoid.tomaskulhanek.cz <jsem@tomaskulhanek.cz>'
	guzzle:
		defaultHeaders: ['User-Agent': %accounting.defaultUserAgent% ]
	# System
	system:
		error:
			presenter: Front:Error

	# Database
	database:
		driver: pdo_pgsql
		port: 5432


