
services:
	latte.latteFactory:
		setup:
			- addFilter(datetime, App\Latte\Filters::datetime)
			- addFilter(neon, App\Latte\Filters::neon)
			- addFilter(json, App\Latte\Filters::json)
	latte.templateFactory:
		class: App\Latte\TemplateFactory

	- App\Router\RouterFactory
	router:
		class: Nette\Application\IRouter
		factory: @App\Router\RouterFactory::create
	nette.userStorage:
		setup:
			- setNamespace("Webapp")
	security.passwords: App\Security\Passwords
	security.user: App\Security\SecurityUser
	security.authenticator: App\Security\Authenticator\UserAuthenticator
	security.authorizator: App\Security\Authorizator\StaticAuthorizator

	app.utils.validator: App\Utils\Validator
	app.utils.formValidator: App\Utils\FormValidator
	app.ui.formFactory: App\UI\FormFactory

	- {class: App\Console\HelloCommand, tags: {console.command: hello}}
	contributte.mailing.builderFactory: App\Mailing\MailBuilderFactory
	app.facade.userRegistration: App\Facade\UserRegistrationFacade

	- App\Manager\ProjectManager
	- App\Manager\WebhookManager
	- App\Mapping\EntityMapping
	- App\Mapping\EntityValidator
	- App\Utils\Validator\DevInitiatorValidator
	apiClient:
		class: App\Api\Client
		arguments: %shoptet%
	symfonyValidator:
		class: Symfony\Component\Validator\Validator\ValidatorInterface
		factory: Symfony\Component\Validator\Validation::createValidator
	helppc.addressbook.serializer:
		class: JMS\Serializer\Serializer
		factory: TomasKulhanek\Serializer\SerializerFactory::create

	savers.creditNote: App\Savers\CreditNoteSaver
	savers.invoice: App\Savers\InvoiceSaver
	savers.order: App\Savers\OrderSaver
	savers.proformaInvoice: App\Savers\ProformaInvoiceSaver
	- App\Components\DataGridComponent\DataGridFactory

	- App\MessageBus\MessageBusDispatcher
	- App\MessageBus\Handler\DownloadCreditNoteMessageHandler
	- App\MessageBus\Handler\DownloadInvoiceMessageHandler
	- App\MessageBus\Handler\DownloadOrderMessageHandler
	- App\MessageBus\Handler\DownloadProformaInvoiceMessageHandler
latte:
	macros:
		- App\Latte\Macros::register
	strictTypes: true

