
services:
	latte.latteFactory:
		setup:
			- addFilter(datetime, App\Latte\Filters::datetime)
			- addFilter(neon, App\Latte\Filters::neon)
			- addFilter(json, App\Latte\Filters::json)
	latte.templateFactory:
		class: App\Latte\TemplateFactory

	- App\Router\RouterFactory
	router:
		class: Nette\Application\IRouter
		factory: @App\Router\RouterFactory::create
	nette.userStorage:
		setup:
			- setNamespace("Webapp")
	security.passwords: App\Security\Passwords
	security.user: App\Security\SecurityUser
	security.authenticator: App\Security\Authenticator\UserAuthenticator
	security.authorizator: App\Security\Authorizator\StaticAuthorizator

	app.utils.validator: App\Utils\Validator
	app.utils.formValidator: App\Utils\FormValidator
	app.ui.formFactory: App\UI\FormFactory

	- {class: App\Console\HelloCommand, tags: {console.command: hello}}
	contributte.mailing.builderFactory: App\Mailing\MailBuilderFactory

	- App\Log\ActionLog

	### lock
	-
		class: Symfony\Component\Lock\Store\FlockStore
		arguments:
			lockPath: %tempDir%/lock
	- Symfony\Component\Lock\LockFactory

	####
	-
		class: App\Manager\AccessTokenManager
		arguments:
			maxAccessTokens: 2
			partnerProjectUrl: %shoptet.partnerProjectUrl%

	- App\Manager\ProjectManager
	- App\Manager\WebhookManager
	- App\Mapping\EntityMapping
	- App\Mapping\EntityValidator
	- App\Utils\Validator\DevInitiatorValidator
	- App\Manager\ProjectSettingsManager
	-
		class: App\Api\FakturoidFactory
		arguments:
			defaultUserAgent: %accounting.defaultUserAgent%
	-
		class: App\Connector\FakturoidInvoice
		arguments:
			prefix: %accounting.prefix%
	-
		class: App\Connector\FakturoidProformaInvoice
		arguments:
			prefix: %accounting.prefix%
	-
		class: App\Connector\FakturoidSubject
		arguments:
			prefix: %accounting.prefix%

	secretVault:
		class: App\Security\SecretVault\ISecretVault
		factory: App\Security\SecretVault\LocalSecretVault
		arguments:
			privateKey: %secret.private%
			publicKey: %secret.public%

	apiClient:
		class: App\Api\Client
		arguments:
			clientId: %shoptet.clientId%
			clientSecret: %shoptet.clientSecret%
			partnerProjectUrl: %shoptet.partnerProjectUrl%
			defaultHeaders: %guzzle.defaultHeaders%

	symfonyValidator:
		class: Symfony\Component\Validator\Validator\ValidatorInterface
		factory: Symfony\Component\Validator\Validation::createValidator
	helppc.addressbook.serializer:
		class: JMS\Serializer\Serializer
		factory: TomasKulhanek\Serializer\SerializerFactory::create

	savers.creditNote: App\Savers\CreditNoteSaver
	savers.invoice: App\Savers\InvoiceSaver
	savers.order: App\Savers\OrderSaver
	savers.proformaInvoice: App\Savers\ProformaInvoiceSaver
	savers.orderStatus: App\Savers\OrderStatusSaver
	savers.customer: App\Savers\Shoptet\CustomerSaver
	- App\Manager\EshopInfoManager
	- App\Manager\OrderStatusManager
	- App\Manager\OrderManager
	- App\Manager\InvoiceManager
	- App\Manager\ProformaInvoiceManager
	- App\Manager\CustomerManager
	- App\Components\DataGridComponent\DataGridFactory

	- App\Formatter\AddressFormatter

	### facades
	app.facade.userRegistration: App\Facade\UserRegistrationFacade
	- App\Facade\InvoiceCreateFacade
	- App\Facade\ProformaInvoiceCreateFacade
	- App\Facade\Fakturoid\Invoice
	- App\Facade\Fakturoid\CreateProformaInvoice
	- App\Facade\Fakturoid\CreateSubject


	- App\Latte\AddressFormatter
	- App\Latte\NumberFormatter
	- App\Latte\ProductTypeIcon
	- App\Latte\TimeFormatter
	nette.latteFactory:
		setup:
			- addFilter(address, @App\Latte\AddressFormatter)
			- addFilter(productIcon, @App\Latte\ProductTypeIcon)
			- addFilter(moneyCurrency, @App\Latte\NumberFormatter)
			- addFilter(time, @App\Latte\TimeFormatter)

	### subscribers
	- App\EventListener\OrderStatusChangeSubscriber


	###console
	#- {class: App\Console\HelloCommand, tags: {console.command: hello}}
	- App\Command\KeyGeneratorCommand
	- App\Command\VaultDecryptCommand
	- App\Command\VaultEncryptCommand
	- App\Command\Shoptet\CustomerSynchronizeCommand
	- App\Command\Shoptet\OrderSynchronizeCommand
	- App\Command\Shoptet\OrderStatusSynchronizeCommand
	- App\Command\Shoptet\InvoiceSynchronizeCommand
	- App\Command\Shoptet\ProformaInvoiceSynchronizeCommand

	- App\Mapping\CustomerMapping

	### synchronization
	- App\Synchronization\OrderSynchronization
	- App\Synchronization\InvoiceSynchronization
	- App\Synchronization\ProformaInvoiceSynchronization
	- App\Synchronization\CustomerSynchronization

	### wizards
	-
		class: App\Wizard\InstallWizard
		setup:
			- setFactory(@app.ui.formFactory)
latte:
	macros:
		- App\Latte\Macros::register
	strictTypes: true

