{block #bodyClass}hold-transition login-page{/block}
{block #content}
	<div class="login-box">
		<div class="login-logo">
			<a href="{$basePath}"><b>Fakturoid</b></a>
		</div>
		<!-- /.login-logo -->
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Sign in to start your session</p>
				{control oauth}

			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
{/block}
