name: main

on:
  pull_request:
  schedule:
    - cron: "0 7 * * 1"

env:
  PHP_VERSION: "8.0"
  extensions: "xml mbstring curl openssl dom gd zip intl json intl"
  composer-install-args: "--no-progress --no-interaction --prefer-dist --no-scripts"

jobs:
  composer:
    name: "Download composer"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          extensions: "${{ env.extensions }}"
          php-version: ${{ env.PHP_VERSION }}
          coverage: none
      - uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-${{ hashFiles('composer.lock') }}

      - uses: php-actions/composer@v6
        with:
          php_extensions: "${{ env.extensions }}"
          php_version: ${{ env.PHP_VERSION }}
          args: "${{ env.composer-install-args }}"

  qa:
    name: "Quality assurance"
    runs-on: "ubuntu-latest"
    needs: composer

    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          extensions: "${{ env.extensions }}"
          php-version: ${{ env.PHP_VERSION }}
          coverage: none
      - uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-${{ hashFiles('composer.lock') }}
      - run: composer @ecs

  static-analysis:
    name: "Static analysis"
    runs-on: "ubuntu-latest"
    needs: composer

    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          extensions: "${{ env.extensions }}"
          php-version: ${{ env.PHP_VERSION }}
          coverage: none

      - uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-${{ hashFiles('composer.lock') }}

      - run: composer @phpstan
